@use '../../styles/breakpoints' as *;

.phones-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0;
}

@media (max-width: 1550px) {
  .phones-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1300px) {
  .phones-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: $tablet-max-width) {
  .phones-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: $phone-max-width) {
  .phones-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
