.button {
  padding: 1.3rem 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.button--black {
  border: none;
  background: black;
  color: white;
}

.button--white {
  border: 1px solid black;
  background: white;
  color: var(--color-primary);
}

.button:disabled {
  background-color: #f0f0f0;
  color: #cecece;
  cursor: not-allowed;
}