#root {
  width: 100%;
  min-height: 100vh;
}

.app-background {
  background-color: white;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.app-main {
  flex: 1;
  padding: 1rem;
  //max-width: 90vw;
  margin: 0 auto;
  width: 100%;
}

.app-main h1 {
  font-size: 1.2rem;
}

.app-main h2 {
  font-size: 0.9rem;
}

@media (max-width: 1024px) { // tablet
  .app-container {
    max-width: 100vw;
  }
  .app-main h1 {
    font-size: 1.16rem;
  }
  .app-main h2 {
    font-size: 0.78rem;
  }
  .app-main p {
    font-size: 0.92rem;
  }
}

@media (max-width: 767px) { // phone
  .app-main {
    padding-inline: 0.75rem;
  }
}

