.list-page {
  padding-top: 11rem;
}

.search-bar-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--app-container-width);
  z-index: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 100vmax rgb(255, 255, 255);
  clip-path: inset(0 -100vmax);
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0;
}

.search-input-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.search-bar-wrapper .search-count {
  display: block;
  font-size: 0.78rem;
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .search-bar-wrapper {
    width: var(--app-container-width);
  }
}
